.category-nav{
    display: flex;
    width: fit-content !important;
    margin: 0 auto;
    gap: 1rem;
}

.category-nav ul{
    list-style: none;
    display: flex;
    gap: .5rem;
}

.category-nav li{
    color: gray;
    cursor: pointer;
    border-radius: .5rem;
    padding: .1rem .5rem;
    border: 1px solid gray;
    transition: .7s ease;
}

.nav-icon{
    align-self: center;
    font-size: 1.5rem !important;
    cursor: pointer;
    transition: .5s ease;
    border-radius: 50%;
    padding: .25rem;
    width: 2rem;
    height: 2rem;
}

.nav-icon:hover{
    background-color: aqua;
}

.category-nav ul .active{
    background-color: aqua;
    border: none;
    color: rgb(71, 71, 71);
    font-weight:800;
}