.post{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    max-height: 300px;
    gap: 1rem;
    cursor: pointer;
    margin-bottom: 3rem;
    /* border: 1px solid red; */
}

.post-thumbnail{
    border-radius: .5rem;
    width: 100%;
}

.post-details{
    display: flex;
    gap: 1rem;
}

.flex-container{
    display: flex;
    gap: 1rem;
}

.creator-avatar{
    height: 50px;
    border-radius: 50%;
}

.post-title{
    font-weight: bold;
}

.channelID, .flex-container{
    color: gray;
}

.channelID{
    font-weight: bold;
    font-style: italic;
}

.channelID:hover{
    color: white;
}